In [1]:
import pandas as pd
import re

In [2]:
STAI_path = '/data/bswift-1/Pessoa_Lab/MAX/June2020/dataset/behavioral/STAI_sums'
 
with open(STAI_path,'r') as file:
    names = re.split('\t| |\n',file.readline())

print(names)

['subject', 'TRAIT', 'STATE', '']

In [3]:
STAI=pd.read_csv(STAI_path,sep='\t',names=names[:3],skiprows=1)
STAI.head()

   subject  TRAIT  STATE
0      101     27     22
1      102     47     44
2      103     33     32
3      104     24     21
4      105     56     28

In [4]:
len(STAI.subject.unique())

124

In [5]:
STAI['Subj'] = STAI['subject'].apply(lambda ID: 'MAX{:03d}'.format(ID))
STAI.drop('subject',axis=1,inplace=True)
STAI.head()

   TRAIT  STATE    Subj
0     27     22  MAX101
1     47     44  MAX102
2     33     32  MAX103
3     24     21  MAX104
4     56     28  MAX105

In [6]:
STAI.corr(method='spearman')

          TRAIT     STATE
TRAIT  1.000000  0.529048
STATE  0.529048  1.000000

In [7]:
main_df = pd.read_csv('MAX_neutral_estimated_response.txt',sep=',')
main_df.head()

     Subj    Type  Time  ROI    beta     var
0  MAX101  threat  0.00  ACC -0.0494  0.0040
1  MAX101  threat  1.25  ACC -0.0880  0.0051
2  MAX101  threat  2.50  ACC -0.0611  0.0059
3  MAX101  threat  3.75  ACC -0.0318  0.0063
4  MAX101  threat  5.00  ACC  0.0947  0.0066

In [8]:
main_df.shape

(133416, 6)

In [9]:
main_df = pd.merge(left=main_df,right=STAI,how='left')
main_df.shape

(133416, 8)

In [10]:
main_df.head()

     Subj    Type  Time  ROI    beta     var  TRAIT  STATE
0  MAX101  threat  0.00  ACC -0.0494  0.0040     27     22
1  MAX101  threat  1.25  ACC -0.0880  0.0051     27     22
2  MAX101  threat  2.50  ACC -0.0611  0.0059     27     22
3  MAX101  threat  3.75  ACC -0.0318  0.0063     27     22
4  MAX101  threat  5.00  ACC  0.0947  0.0066     27     22

In [11]:
main_df.to_csv('MAX_neutral_estimated_response.txt',index=False,sep='\t')