In [3]:
import pandas as pd

In [4]:
old_df = pd.read_csv('uncon_v_con_shock_MR_ROI24_with_covariates_after_buttPress.txt',sep='\t')
new_df = pd.read_csv('uncon_v_con_shock_MR_ROI24final_with_covariates.txt',sep='\t')
print('Old shape:', old_df.shape)
print('New shape:', new_df.shape)
new_df.head()

Old shape: (1464, 8)
New shape: (1464, 7)

  Subj                ROI       Y  TRAITmean  TRAITdiff  STATEmean  STATEdiff
0  P00  L Amygdala (BLBM) -0.0841     -1.003    -0.0406    -1.2307    -0.1812
1  P00  R Amygdala (BLBM)  0.1305     -1.003    -0.0406    -1.2307    -0.1812
2  P00  L Amygdala (CeME)  0.1827     -1.003    -0.0406    -1.2307    -0.1812
3  P00  R Amygdala (CeME)  0.2318     -1.003    -0.0406    -1.2307    -0.1812
4  P00             L aMCC  1.3089     -1.003    -0.0406    -1.2307    -0.1812

In [5]:
new_df = new_df.merge(right = old_df[['Subj','BPdiff_stdz']].drop_duplicates(),on='Subj')
print('Newest shape: ',new_df.shape)

Newest shape:  (1464, 8)

In [6]:
new_df.head()

,Subj,ROI,Y,TRAITmean,TRAITdiff,STATEmean,STATEdiff,BPdiff_stdz
0,P00,L Amygdala (BLBM),-0.0841,-1.003,-0.0406,-1.2307,-0.1812,-0.8664
1,P00,R Amygdala (BLBM),0.1305,-1.003,-0.0406,-1.2307,-0.1812,-0.8664
2,P00,L Amygdala (CeME),0.1827,-1.003,-0.0406,-1.2307,-0.1812,-0.8664
3,P00,R Amygdala (CeME),0.2318,-1.003,-0.0406,-1.2307,-0.1812,-0.8664
4,P00,L aMCC,1.3089,-1.003,-0.0406,-1.2307,-0.1812,-0.8664

In [7]:
new_df.to_csv('uncon_v_con_shock_MR_ROI24final_with_covariates.txt',sep='\t',index=False)